
body{
    background: url(../IMG/body.jpg) no-repeat fixed;
    display: flex;
    flex-flow: column;
}
.page{
    border-radius: 1em;
    padding: 1em;
    background-color: #EFEFEF;
    margin: 0 10em 0 10em;
    flex-direction: column;
}
.contenu{
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
img{
    max-height: 100%;
    max-width: 100%;
}

div{
    display: flex;
    flex: 1;
}

.centre{
    justify-content: center;
}

.centreVertical{
    align-items:center;
}

.centre{
    align-items: center;
}

.displayflex{
    display: flex;
}

.colonne{
    flex-flow: column;
}

.row{
flex-flow: row;
}

header{
    background-image: url(../IMG/fond.png);
    justify-content: space-evenly;
    display: flex;
    height: 39vh;
}
.titre {
    flex-direction: column;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
}
.info{
    border: 1px solid black;
}

.paire{
background-color: lightgrey;
}

.impaire{
background-color: beige ;
}

button{
    margin: 2em;
    padding: 1em;
    border-radius: 1em;
}

.couleur{
background-color: lightblue;
}

footer{
    height: 10em;
}

a {
    text-decoration: none;
}
#cafe{
    border-radius: 100%;
    opacity: 0.9;
}
/**************REPARATION***************/

.titre{
    text-align: center;
}

.vert{
    background-color: rgb(1, 219, 1);
}
.orange{
    background-color : rgb(251, 181, 51);
}
.rouge{
    background-color : rgb(248, 100, 100);
}